// filepath: /Users/nickalkema/Documents/PlatformIO/Projects/BasicBlinkTest/.gitignore
#
# Default .gitignore for PlatformIO projects
#
.pio/
.vscode/
.DS_Store

#
# Keep these root files
#
!/.gitignore
!/README.md
!/journal.md

#
# Keep these entire directories
#
!/production/
!/cad/
!/src/
!/pcb/